version: '3'

services:
  traefik:
    image: traefik:v1.7.30
    container_name: traefik
    restart: always
    ports:
      - 80:80
      - 443:443
      - 8081:8080
    networks:
      - web
      - default
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./traefik.toml:/traefik.toml
      - acme:/etc/traefik/acme

volumes:
  acme:

networks:
  web:
    external: true
