# my global config
global:
  scrape_interval:     15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).

# Alertmanager configuration
alerting:
  alertmanagers:
  - static_configs:
    - targets:
      # - alertmanager:9093

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: 'prometheus'

    # Override the global default and scrape targets from this job every 5 seconds.
    scrape_interval: 5s

    # metrics_path defaults to '/metrics'
    # scheme defaults to 'http'.

    static_configs:
      - targets: ['nuc7i5a.brooks.network:9090']

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['nuc7i5a.brooks.network:9080']
  - job_name: 'node_exporter'
    static_configs:
      - targets: ['nuc7i5a.brooks.network:9100', 'nuc7i5b.brooks.network:9100', 'pi.brooks.network:9100']
  - job_name: 'traefik'
    static_configs:
      - targets: ['nuc7i5a.brooks.network:8081']
  - job_name: 'unifi_exporter'
    static_configs:
      - targets: ['nuc7i5a.brooks.network:9130']
  - job_name: 'edgemax_exporter'
    static_configs:
      - targets:
        - edge.brooks.network
    metrics_path: /snmp
    params:
      module: [ubiquiti_edgemax]
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: nuc7i5a.brooks.network:9116
  - job_name: 'airmax_exporter'
    static_configs:
      - targets:
        - litebeam.brooks.network
    metrics_path: /snmp
    params:
      module: [ubiquiti_airmax]
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: nuc7i5a.brooks.network:9116
  - job_name: 'blackbox_exporter'
    metrics_path: /probe
    params:
      module: [icmp]
    static_configs:
      - targets:
        - 10.70.117.1   # The brooks.network router
        - 10.70.117.2   # The brooks.network ptp antenna
        - 10.70.117.6   # The brooks.network sector antenna
        - 199.167.59.1  # NYC Mesh core router
        - 8.8.4.4       # The internet
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: nuc7i5a.brooks.network:9115  # The blackbox exporter's real hostname:port.
